*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background: linear-gradient(105.59deg, rgba(99, 58, 151, 0.9) 34.3%, rgba(76, 135, 198, 0.9) 91.59%);
    background-repeat: no-repeat;
    height: 100vh;
}
.logo{
    margin-top: 55px;
    margin-left: 10%;
    float:left;
    color: #007BFf;
    font-size: 1.5rem;
    font-weight:600;
}
.logo p{
    font-size: 7.9px;
    color:white;
}
.logo a{
    text-decoration: none;
    color: inherit;
}

.pedal{
    color:white;
}
.cycleid{
    position:absolute;
    top: 25%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 40vw;
}
.cycleid input{
    width: 100%;
    padding: 2vh 1vw;
    border-radius: 50px;
    background: transparent;
    border: none;
    color: white;
    background: rgba(217, 217, 217, 0.2);
    backdrop-filter: blur(5px);
}
.cycleid input:focus{
    outline:none;
}
input[type=text]::placeholder{
    color: #c8c8c8;
    font-size: 1.1rem;
 }

 .startcycle{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 40vw;
 }

 .buttons{
    position: absolute;
    bottom: 25vh;
    width: 70vw;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
 .buttons button{
    padding: 2vw 3vw;
    border-radius: 15px;
    border: 0px;
    background-color: black;
    color: white;
    cursor: pointer; 
    font-size: 1.1rem;
}
.end{
    float: right;
}
.timer{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #ffffff;
}
.timer p{
    font-size: 1.5rem;
}